﻿@charset "utf-8";
/* CSS Document */

/*   
Product: Roku Channel Builder
Author: RiGHT BRAiN MEDiA
Author URL: http://www.rightbrainmedia.com
*/

/*------------------------------------------------*/
/* GLOBAL YR
/*------------------------------------------------*/
body 						{ background: #d4dedd; margin: 0; padding: 0; line-height: normal; }
* 							{ margin: 0; padding: 0; outline: none; border: none; list-style: none; }
.clearboth 					{ clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
img 						{ border: 0; text-decoration: none; }
h1, h2, h3, h4, h5			{ letter-spacing: normal; }
h1 							{ color: #272f3a; font: 700 30px/30px Raleway, Arial, sans-serif; text-align: center; text-transform: uppercase; margin: 0; }
h2 							{ color: #556370; font: 500 18px/26px Raleway, Arial, sans-serif; text-align: center; text-transform: none; margin: 30px 0 0 0; padding: 0; border-bottom: none; }
h3 							{ background: none; color: #272f3a; font: 700 21px/30px Raleway, Arial, sans-serif; text-transform: uppercase; margin-top: 0 !important; padding: 0; }
p 							{ color: #556370; font: normal 15px/30px Arial, sans-serif; }
a:link						{ color: #0e8685; text-decoration: underline; }
a:visited					{ color: #0e8685; text-decoration: underline; }
a:hover						{ color: #0e8685; text-decoration: none; }
a:active 					{ color: #0e8685; text-decoration: none; }
.title_wrapper				{ background: url(../images/bg_title_bar.jpg) no-repeat center bottom; padding: 0 0 30px 0; }
.white_bg 					{ background: #FFF; padding-top: 140px; padding-bottom: 140px; }
.cnt_wrapper 				{ padding: 100px 0 0 0; }
.cnt_margin_top 			{ margin-top: 90px; }
.SmallMarginTop 			{ margin-top: 30px; }
.blue_color 				{ color: #4ecdc4 !important; }
.blue_dark_color 			{ color: #0e8685 !important; }
.red_color 					{ color: #e56061 !important; }
.green_color 				{ color: #c0f255 !important; }
.grey_color 				{ color: #556370 !important; }
.graphic img 				{ float: none; margin: 0 auto; }
.FullWidth 					{ width: 100%; }
.TxtCenter 					{ text-align: center !important; }

/*------------------------------------------------*/
/* NAVIGATION
/*------------------------------------------------*/
.navbar-default 			{ background: #13171c; border: none; }
.navbar-brand				{ height: auto; padding-top: 10px; padding-bottom: 10px; }
.navbar-nav > li > a 		{ color: #e6eff3 !important; padding-top: 24px; padding-bottom: 24px; }
.navbar-default .navbar-nav > li > a 	{ color: #e6eff3; font: 400 18px/26px Raleway, Arial, sans-serif; text-transform: uppercase; text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover { background: #4ecdc4; color: #FFF !important; }
.no-show 					{ display: none !important; }

/*------------------------------------------------*/
/* HOME
/*------------------------------------------------*/
#home 						{ text-align: center; }
#home img 					{ margin: 0 auto 50px auto; float: none; }
.HomeContainer				{ height: 100%; overflow: hidden; position: relative; }
video 						{ display: block; width: 100% !important; height: auto !important; }
.HomeCnt 					{ background: url(../images/bg_overlay.png) repeat; margin: 0 auto; position: absolute; width: 100%; padding: 18% 0 0 0; height: 100%; z-index: 777; }
a.LearnMore 				{ background: url(../images/arrow_down.png) no-repeat left top; display: block; width: 60px; height: 60px; margin: 100px auto 0 auto; }
a.LearnMore:hover 			{ background-position: right top; }

/*------------------------------------------------*/
/* ABOUT
/*------------------------------------------------*/
.feature 					{ text-align: center; }
.feature h3 				{ margin-top: 30px !important; }
.feature p 					{ line-height: 22px; }
.feature i 					{ font-size: 70px; }

/*------------------------------------------------*/
/* TAGLINE
/*------------------------------------------------*/
#tagline h1					{ color: #FFF; font: 500 27px/27px Raleway, Arial, sans-serif; margin-top: 0; text-transform: none; }
.tagline_bg 				{ padding: 60px 0; background: url(../images/cnt_bg.jpg) center center; background-size: cover; background-attachment: fixed; position: relative; height: 30vh; }
#tagline .btn 				{ margin-top: 40px; }

/*------------------------------------------------*/
/* FEATURES
/*------------------------------------------------*/

/*------------------------------------------------*/
/* PLANS
/*------------------------------------------------*/
.HomePrice 					{ border: solid 1px #d2dbdd; float: left; width: 40%; margin: 0 5%; padding: 10px 0 20px 0; }
.HomePrice h1 				{ background: #0e8685; color: #FFF; text-transform: uppercase; text-align: center; font-size: 19px; letter-spacing: 1px; padding: 10px; }
.HomePrice .fa-caret-down 	{ color: #0e8685; font-size: 50px; position: relative; top: -21px; }
.HomePrice .btn 			{ color: #0e8685 !important; }
.HomePrice .btn:hover 		{ color: #4ecdc4 !important; }
.HomePrice .price 			{ color: #556370; }
.HomePrice .price  strong 	{ font-size: 45px; }
.HomePrice .price  span 	{ font: 400 25px/25px Raleway, Arial, sans-serif; position: relative; top: -10px; }
.HomePrice .price small 	{ font: 400 20px/20px Raleway, Arial, sans-serif; }
.HomePrice .info 			{ padding: 0 40px; border-bottom: solid 1px #d2dbdd; padding-bottom: 25px; margin-bottom: 30px; }
.HomePrice h2 				{ border-top: solid 1px #d2dbdd; padding: 30px 0 0 0; }
.HomePrice h2 strong 		{ font-family: Arial, Tahoma, sans-serif; }

/*------------------------------------------------*/
/* CONTACT
/*------------------------------------------------*/
.ContactInfo a 				{ text-decoration: none !important; }
.facebook 					{ color: #395b98 !important; }
.twitter 					{ color: #5ea9dd !important; }
.linkedin					{ color: #007bb6 !important; }
.googleplus 				{ color: #d95433 !important; }
.facebook:hover, .twitter:hover, .linkedin:hover, .googleplus:hover { text-decoration: underline !important; }
.TwitterFeed 				{ margin: 80px 0 0 0; }
p.tweet 					{ margin-bottom: 20px; }
.timePosted					{ display: none; }
.form-box 					{ background: #556370; padding: 40px 50px; border-top: solid 10px #58c4be; }
.form-box h3 				{ color: #FFF; margin: 0 0 30px 0 !important; }
.form-box label 			{ color: #FFF; font: 400 18px/18px Raleway, Arial, sans-serif; }
.form-box .form-control 	{ background: #272f3a; color: #8997a4; font: 400 14px/14px Raleway, Arial, sans-serif; border: none; margin: 0 0 30px 0; height: 40px; }
.form-box textarea 			{ padding: 12px; height: 100px !important; }

/*------------------------------------------------*/
/* FOOTER
/*------------------------------------------------*/
footer  					{ background: #d4dedd; padding: 20px 0; }
footer p 					{ font-size: 12px; margin: 0; }
footer a					{ color: #556370 !important; text-decoration: none !important; }
footer a:hover				{ color: #0e8685 !important; }
.network 					{ text-align: right; }

/*------------------------------------------------*/
/* BOOTSTRAP OVERRIDES
/*------------------------------------------------*/
.btn 						{ background: none; color: #FFF !important; border: solid 2px #4ecdc4; border-radius: 0; font: 500 18px/18px Raleway, Arial, sans-serif; padding: 16px 20px; text-decoration: none !important; }
.btn:hover 					{ background: #FFF; color: #0e8685 !important; border: solid 2px #4ecdc4; }

/*------------------------------------------------*/
/* MEDIA QUERIES
/*------------------------------------------------*/
@media (max-width: 990px) {
	.feature i 					{ margin-top: 60px; }
	footer, .network			{ text-align: center; }
}
@media (max-width: 800px) {
	#home 						{}
	#homebgvid					{ display: none; }
}