﻿@charset "utf-8";
/* CSS Document */

/*   
Product: Roku Channel Builder
Author: RiGHT BRAiN MEDiA
Author URL: http://www.rightbrainmedia.com
*/

/*------------------------------------------------*/
/* GLOBAL YR
/*------------------------------------------------*/
body                        { margin: 0px; padding: 0px; background: #13171c; font-family: Arial, Tahoma, Helvetica, sans-serif; }
img                         { border-style:none; }
.clearboth                  { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
*                           { margin: 0; padding: 0; }
h2 							{ color: #556370; font: 600 20px/20px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; padding: 0 0 5px 0; margin: 0 0 30px 0; border-bottom: solid 1px #eceff2; }
h3 							{ color: #0d8483; font: 700 18px/18px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 30px 0; }
h4 							{ color: #272f3a; font: 600 20px/20px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; }
.FloatRight 				{ float: right; width: 50%; }
.FloatLeft 					{ float: left; width: 50%; }
.MarginTop 					{ margin-top: 20px !important; }
.MarginTopSmall 			{ margin-top: 5px !important; }
.error 						{ color: #e56061 !important; display: block; }
.MainBg 					{ background: #FFF; }
.TopBottomPad 				{ padding-top: 30px; padding-bottom: 60px; }
.BlankBar 					{ height: 20px; }
.FullWidth 					{ width: 100% !important; }
.CenterTxt 					{ text-align: center !important; }
.RightTxt 					{ text-align: right !important; }

/*------------------------------------------------*/
/* BUTTONS
/*------------------------------------------------*/
.btn 						{ border: none; border-radius: 0px; font: 400 16px/16px Raleway, Arial, Helvetica, sans-serif; padding: 16px; }
.btn-xs 					{ padding: 6px; font-size: 12px; line-height: 12px; }
.btn-sm 					{ padding: 12px 16px; }
.btn-default 				{ background: #4ecdc4; color: #FFF; }
.btn-default:hover 			{ background: #0e8685; color: #FFF; }
.btn-danger 				{ background: #e56061; color: #FFF; }
.btn-danger:hover 			{ background: #e24546; color: #FFF; }
.btn-info 					{ background: #556370; color: #FFF; }
.btn-info:hover 			{ background: #4c5965; color: #FFF; }
.btn-inst 					{ background: #FFF; color: #d5dbdf; font-size: 26px; line-height: 26px; border: solid 1px #e1e7ec; border-right: none; padding: 5px 8px; display: block; float: right; }
.btn-inst:hover 			{ background: #58c4be; color: #FFF; }
.btn-inst span 				{ color: #d5dbdf !important; }
.btn-inst span:hover		{ color: #FFF !important; }
.btn-add 					{ color: #c9ced3; }
.btn-add:hover 				{ color: #13171c; }
.btn-default[disabled] 		{ background: #4ecdc4; color: #FFF; }

/*------------------------------------------------*/
/* HEADER
/*------------------------------------------------*/
#header						{ background: #13171c; width: 100%; }
.HeaderLeft 				{ float: left; width: 40%; }
.HeaerRight 				{ float: right; width: 60%; }
.CntLogo 					{ padding: 13px 30px 0 30px; }
.menu 						{ padding: 0; margin: 0; }
.menu li 					{ float: right; text-align: center; list-style: none; }
.menu li a 					{ color: #737f8a; display: block; padding: 22px 20px 14px 20px; }
.menu li a:hover 			{ color: #FFF; text-decoration: none; }
.menu li a:hover span, .menu li.active span { color: #58c4be; }
.menu li a span 			{ font-size: 20px; margin-bottom: 5px; }
.menu li.active a 			{ color: #FFF; background: url(../images/active_link.png) no-repeat bottom center; }
.logout 					{ margin-left: 20px; }
.logout a 					{ background: #556370; padding: 26px 20px 20px 20px !important; }
.logout a:hover  			{ background: #e56061; }
.logout a span 				{ color: #13171c !important; font-size: 30px !important; }

/*------------------------------------------------*/
/* LANDING
/*------------------------------------------------*/
.VideoOverlay               { background: url(../images/bg_overlay.png) repeat; height: 100%; width: 100%; position: absolute; }
.LandingLogo                { margin: 120px 0 90px 0; }
video                       { display: block; }
video#bgvid                 { position: fixed; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background: url(video_img.jpg) no-repeat; background-size: cover; }
.LandingCnt                 { margin: 0 auto; width: auto; max-width: 500px; }
.LandingCnt label 			{ color: #FFF; font: 500 16px/16px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; margin-bottom: 10px; }
.LandingCnt .form-group 	{ margin-bottom: 25px; }
.LandingCnt .form-control 	{ font: normal 15px/15px Arial, Helvetica, sans-serif; border: none; height: 50px; padding: 6px 20px; }
.LandingCnt a 				{ color: #FFF; text-decoration: none; cursor: pointer; }
.LandingLinks 				{ width: 100%; }
.package 					{ background: url(../images/bg_overlay.png) repeat; border: solid 1px #FFF; padding: 20px; margin-bottom: 20px; }
.package:hover 				{ border: solid 1px #58c4be; }
.package span 				{ text-transform: uppercase; font-weight: bold; font-size: 16px; }
.pck_decor 					{ border-right:  solid 1px #58c4be; }
.package small 				{ color: #FFF; font-weight: normal; font-size: 12px; font-style: italic; text-transform: none; }
.package .price 			{ color: #58c4be; font-size: 30px; font-weight: bold; }
.package .price:hover 		{ color: #0e8685; }
.pck_info 					{ margin: 10px 0; }
.TermsTxt label, .TermsTxt a { margin: 0 0 0 10px; text-transform: none; font: normal 15px Arial, Tahoma, Helvetica, sans-serif; }
.SelectedPck 				{ color: #58c4be; font-size: 22px; text-align: center; margin: 0 0 20px 0; text-transform: uppercase; display: block; }
.PgError h1 				{ color: #0e8685; font: bold 200px/200px Arial, Helvetica, sans-serif; text-align: center;  margin-top: 0; letter-spacing: 20px }
.PgError h3 				{ background: none; color: #FFF; text-align: center; font-size: 44px; }
.PgError p 					{ color: #FFF; font-weight: normal; margin: 40px 0 0 0; text-align: center; }

/*------------------------------------------------*/
/* CONTENT
/*------------------------------------------------*/
.PgTitle 					{ background: #eceff2; padding: 10px 0 10px 30px; }
.PgTitle h1 				{ color: #272f3a; font: 600 20px/20px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 10px 0 0 0; padding: 0; display: block; }
.PgTitle a 					{ color: #556370; }
.PgTitle a:hover 			{ color: #272f3a; text-decoration: none; }
.PgTitle span 				{ color: #58c4be; }
.img-thumbnail 				{ border: solid 1px #d5dbdf; border-radius: 0px; padding: 5px; }
.CntSubNav 					{ background: #556370; padding: 0 30px; }
.CntSubNav ul 				{ margin: 0; padding: 0; }
.CntSubNav li 				{ list-style: none; float: left; }
.CntSubNav li a 			{ background: #556370; color: #FFF; font: 500 14px/14px Raleway, Arial, Helvetica, sans-serif; display: block; padding: 20px 25px; cursor: pointer; }
.CntSubNav li a:hover, .CustomLabel:hover { background: #13171c; color: #FFF; text-decoration: none; }
.CntSubNav li a.active, .CustomLabel.active { background: #3b444d; }
.CustomLabel 				{ font: 500 14px/14px Raleway, Arial, Helvetica, sans-serif; padding: 20px 25px; }
.Cnt-Search input 			{ margin-top: -10px; }
/* - - - STATUS - - - */
.transferring 				{ color: #4d20c1 !important; }
.pending					{ color: #f59c00 !important }
.processing 				{ color: #009dca !important; }
.failed 					{ color: #a5002b !important; }
.ready 						{ color: #73a301 !important; }

/*------------------------------------------------*/
/* CHANNELS
/*------------------------------------------------*/
.channels 					{ text-align: center; }
.channels .img-thumbnail 	{ width: 100%; margin-bottom: 30px; }
.ChannelInfo 				{ position: relative; }
.ChannelBtns 				{ position: relative; top: -20px; text-align: center; }
.ChannelFiles 				{ background: #eceff2; padding: 20px; color: #556370; font-size: 18px; margin: 20px 0 0 0; }
.ChannelFiles span 			{ font: 700 48px/48px Arial, Helvetica, sans-serif; }
.NewChannel 				{ background: #eceff2; color: #c9ced3; padding: 20px 20px; font: Raleway, Arial, Helvetica, sans-serif; cursor: pointer; }
.NewChannel p				{ color: #B4B8BC; }
.NewChannel span 			{ font-size: 150px; margin: 40px 0 0 0; }
.CatHeader 					{ position: relative; border: solid 1px #d6dbdf; }
.CatLogo 					{ position: absolute; top: 35px; left: 35px; }
.CatLogo img 				{ height: 96px; }
.sortable 					{ padding: 20px; }
.CatDesc 					{ padding: 0 20px 20px 20px; }
.CatDesc .ShortTxt			{ height: 40px; overflow: hidden; }
.CatImg 					{ width: 100%; height: 270px; }
.preview 					{ float: left; width: 23%; margin: 0 1%; }

/*------------------------------------------------*/
/* TABLES
/*------------------------------------------------*/
.table th 					{ color: #272f3a; font: 700 15px/15px Raleway, Arial, Helvetica, sans-serif; }
.table-striped > tbody > tr:nth-of-type(odd) { background: #eceff2; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { padding: 12px; }
.table a.sort 				{ color: #0e8685; cursor: pointer; }
.table a.sort:hover 		{ color: #4ecdc4; }

/*------------------------------------------------*/
/* FORMS
/*------------------------------------------------*/
label 						{ color: #556370; font-size: 15px; }
.form-control 				{ background: #eceff2; color: #556370; border: solid 1px #d5dbdf; border-radius: 0px; box-shadow: none; height: 35px; }
.steps-header 				{ text-align: center; position: relative; }
#progressbar 				{ overflow: hidden; counter-reset: step; margin: 0 0 40px 0; }
#progressbar li 			{ color: #FFF; text-transform: uppercase; font-size: 10px; width: 33.33%; float: left; position: relative; list-style-type: none; }
#progressbar li.active:before, #progressbar li.active:after { background: #0e8685; color: #FFF; }
#progressbar li:before 		{ background: #FFF; color: #333; content: counter(step); counter-increment: step; width: 30px; line-height: 30px; display: block; font-size: 10px; margin: 0 auto 5px auto; cursor: pointer; }
#progressbar li:after 		{ background: #FFF; content: ""; width: 100%; height: 2px; position: absolute; left: -80px; top: 15px; z-index: -1; }
#progressbar li:first-child:after { content: none; }
#progressbar li.active:before, #progressbar li.active:after { background: #0e8685; color: #FFF; }

/*------------------------------------------------*/
/* ACCOUNT
/*------------------------------------------------*/
.account_main_pck 			{ width: 40%; float: left; margin: 0 2% 0 0; }
.account_pck 				{ background: #eceff2; border: solid 4px #dadfe3;  }
.account_pck:hover 			{ border: solid 4px #58c4be; }
.account_pck small 			{ color: #556370; }
.account_pck span 			{ font-size:  20px; margin-bottom: 8px; }
.HomePrice 					{ border: solid 1px #d2dbdd; float: left; width: 40%; margin: 0 5%; padding: 10px 0 20px 0; }
.HomePrice h1 				{ background: #0e8685; color: #FFF; text-transform: uppercase; text-align: center; font-size: 19px; letter-spacing: 1px; padding: 10px; margin: 0; }
.HomePrice .fa-caret-down 	{ color: #0e8685; font-size: 50px; position: relative; top: -21px; }
.HomePrice .price 			{ color: #556370; }
.HomePrice .price  strong 	{ font-size: 45px; }
.HomePrice .price  span 	{ font: 400 25px/25px Raleway, Arial, sans-serif; position: relative; top: -10px; }
.HomePrice .price small 	{ font: 400 20px/20px Raleway, Arial, sans-serif; }
.HomePrice .info 			{ border-bottom: solid 1px #d2dbdd; margin: 30px 40px; }
.HomePrice h2 				{ border-top: solid 1px #d2dbdd; padding: 15px 0; border-bottom: none; text-transform: none; font-size: 16px; margin: 0; }
.HomePrice h2 strong 		{ font-family: Arial, Tahoma, sans-serif; }

/*------------------------------------------------*/
/* FOOTER
/*------------------------------------------------*/
#footer					    { background: #13171c; color: #556370; font-size: 11px; position: fixed; width: 100%; bottom: 0; padding: 10px 30px; }
#footer a                   { color: #556370; text-decoration: none; }
#footer a:hover             { color: #eceff2; text-decoration: none; }

/*------------------------------------------------*/
/* MODALS
/*------------------------------------------------*/
.modal-content 				{ color: #556370; border-radius: 0px; font: normal 14px/24px Arial, Helvetica, sans-serif; }
.modal-header 				{ background: #4ecdc4; padding: 15px 25px; }
.modal-header h1 			{ color: #FFF; font: 500 18px/18px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 0; padding: 0; }
.modal-body, .modal-footer  { padding: 20px 25px; }
.modal-backdrop             {  bottom: 0 !important;  position: fixed !important;}
.ModalWithTabs 				{ padding: 0 15px; }
.ModalWithTabs .nav-tabs 	{ background: #4ecdc4; font: 500 18px/18px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; border-bottom: solid 1px #FFF; }
.ModalWithTabs .nav-tabs > li > a 	{ color: #FFF; border-radius: 0px; padding: 15px 25px; margin: 0; }
.ModalWithTabs .nav-tabs > li > a:hover { background: #FFF; color: #272f3a; }
.ModalWithTabs .nav-tabs > li.active > a { color: #272f3a; }
.ModalWithTabs .CustomPad 	{ padding: 20px 10px; }
.ModalWithTabs .nav-tabs > li.active > a, .ModalWithTabs .nav-tabs > li.active > a:focus, .ModalWithTabs .nav-tabs > li.active > a:hover { border: solid 1px #FFF; }

/*------------------------------------------------*/
/* BOOTSTRAP OVERRIDES
/*------------------------------------------------*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { background-color: #3b444d; border-color: #3b444d; }
.pagination>li>a, .pagination>li>span { color: #0e8685; }
.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span { border-radius: 0; }

/*------------------------------------------------*/
/* MEDIA QUERIES
/*------------------------------------------------*/
@media (max-width: 768px)	{
	.LandingCnt                 { padding: 0 30px }
}