﻿<%@ Control Language="C#" %>
<%@ Register TagPrefix="inc" Namespace="roku" Assembly="App_Code" %>
<%@ Import Namespace="System.Net" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="Stripe" %>
<%@ Import Namespace="Newtonsoft.Json" %>
<%@ Import Namespace="System.Net.Mail" %>
<script runat="server">
    protected void Page_Load(object sender, EventArgs e)
    {
        var obj = rbm.Members.getData("1");
        Session["user"] = obj;
        obj = (rbm.Members.stMembers)Session["user"];

        //obj = (rbm.Members.stMembers)Session["user"];

        hdUserID.Value = obj.id;
    }

</script>

<asp:Label ID="meta_title" runat="server" Text="Home" Visible="false" />
<inc:module runat="server" ID="style">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</inc:module>
<inc:module runat="server" ID="script">
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/jquery1-10-4ui.js"></script>
</inc:module>
<asp:HiddenField runat="server" ID="hdUserID" />
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
    libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
    imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
    porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu
    ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales
    ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh.
    Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique
    sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit
    quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.
    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque
    volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non
    tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla
    facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat
    imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu
    magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque
    cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna
    augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non
    quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede
    facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue.
    Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet
    mauris. Morbi in dui quis est pulvinar ullamcorper. 
</div>