﻿
<div id="modal">
    <div class="modal-header">
        <h4>AVAILABLE PLAYLISTS</h4>
    </div>
    <div class="modal-body">
        <div ng-repeat="playlist in playlists">
            <input type="checkbox"
                   ng-model="playlist.selected"
                   ng-change="addPlayer(playlist)"
                   id="type_{{$index}}" />
            <label for="type_{{$index}}"><span></span>{{playlist.title}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <a data-ng-click="cancel()" class="btn btn-success">
            <span>Done</span>
        </a>
    </div>
</div>
