﻿
<div id="modal">
    <div class="modal-header">
        <h4>PLAYLIST VIDEOS</h4>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="video in (filteredVideos = myPlaylistVideos)">
            <img class="thumbnail" alt="{{video.title}}" src="{{video.image}}" width="150px" />
            {{video.title}}--{{video.id}}
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-warning" data-ng-click="cancel()">Cancel</a>
        <a data-ng-click="savePlaylistSelections()" class="btn btn-success">
            <span data-ng-if="playspin" class="glyphicon glyphicon-refresh spinning"></span>
            <span data-ng-if="!playspin && !player_saved">Save</span>
            <span data-ng-if="playspin">Saving....</span>
            <span data-ng-if="player_saved">Saved!</span>
        </a>
    </div>
</div>
