﻿
<div class="modal-header">
    <h1>Confirm</h1>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Package File: {{build.package_file}}</label>
        <input type="file" />
        <label>Package Date</label>
        <input type="text" data-ng-model="build.package_date" class="package-date form-control" />
        <label>Roku device used for Build</label>
        <select class="form-control" data-ng-options="option.name for option in package_box_options track by option.id" data-ng-model="selectedPackageBox" data-ng-change="updateSelectedPackage"></select>


        <label>Channel Store Status</label>
        <select data-ng-options="opt.label for opt in status_options track by opt.value" data-ng-model="selectedStatus" data-ng-change="updateSelectedStatus"></select>
        <label>Vanity Url</label>
        <input type="text" data-ng-model="build.vanity_url" class="form-control" />
        <label>Submitted to Roku On: </label>
        <input type="text" data-ng-model="build.submit_date" class="package-date form-control" />
        <label>Channel Release Date: </label>
        <input type="text" data-ng-model="build.release_date" class="package-date form-control" />
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-info" data-ng-click="deleteItem(asset)">
                <span class="fa fa-trash-o" aria-hidden="true"></span>&nbsp; Delete
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>
<script>
    jQuery(function () {
        jQuery('.package-date').datepicker();
    })
</script>

