﻿<div class="modal-header">
    <h1 class="ng-binding">Confirm Cancel Account</h1>
</div>

<div class="modal-body">
    <div class="row-fluid">
        <p>You are about to cancel your account!</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-padding btn-info" data-ng-click="close('cancel')">Nevermind</button>
    <div class="btn btn-padding btn-danger" data-ng-click="confirmCancellation()">Confirm and cancel my account.</div>
</div>