﻿<div class="modal-header">
    <h1>Cancel Account</h1>
</div>

<div class="modal-body">
    <div class="row-fluid">
        <p>By cancelling your RBM.tv account, you will no longer be billed, all Roku channels will no longer operate and your access will be removed. Please contact support for assistance. After 30 days, all data will be deleted.</p>
        <p>
            Are you sure you want to cancel your account?
        </p>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-padding btn-info" data-ng-click="close('cancel')">Nevermind</button>
    <div class="btn btn-padding btn-danger" data-ng-click="cancelTheAccount('continue')">I understand. Cancel my account.</div>
</div>