﻿
    <div class="modal-header">
        <h1>Category Order</h1>
    </div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-striped table-hover"

        <tbody>
            <tr data-ng-repeat="category in categories | orderBy: ordr">
                <td>{{category.title}}</td>

                <td>
                    <a data-ng-click="orderUp($index, true)" class="sort">
                        <span class="fa fa-arrow-up" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a data-ng-click="orderUp($index, false)" class="sort">
                        <span class="fa fa-arrow-down" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <a class="btn btn-default" data-ng-click="saveChanges()">
                    <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
                </a>
                <a class="btn btn-danger" data-ng-click="close('cancel')">
                    <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
                </a>
            </div>
        </div>
    </div>
