﻿<div class="modal-header">
    <h1>Category Settings</h1>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="txtTitle" class="control-label">Title:</label>
                <input id="txtTitle" class="form-control" type="text" data-ng-model="selectedCategory.title" />
            </div>
            <div class="form-group">
                <label for="txtDescription" class="form-label">Description:</label>
                <textarea id="txtDescription" class="form-control" rows="3" data-ng-model="selectedCategory.description"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <label>Category Image<br /><small>(Recommended Dimensions: 336x210)</small></label>
            <div class="form-group">
                <a href="" data-ng-click="option.selected = true">
                    <img class="img-responsive img-thumbnail" alt="{{selectedCategory.title}}" data-err-src="/images/new_category_image.png" src="{{selectedCategory.hd_path}}" />

                </a>
            </div>

            <div class="form-group" data-ng-if="option.selected">
                <label class="btn btn-info btn-xs" for="my-file-selector">
                    BROWSE FILES
                    <input id="my-file-selector" style="display:none" type="file" nv-file-select uploader="uploader" ng-click="uploader.clearQueue()" /><br />
                </label>
                <div ng-repeat="item in uploader.queue">
                    <div class="form-group">
                        <label for="fileName" class="form-label">Name:</label><span id="fileName" ng-bind="item.file.name"></span><br />
                        <label for="fileSize" class="form-label">Size:</label> <span id="fileSize" ng-bind="item.file.size"></span><br />
                        <a href="" ng-click="uploader.clearQueue();option.selected=!option.selected" class="btn btn-info btn-sm">Cancel</a>
                        <a ng-click="item.upload()" class="btn btn-info btn-sm">Upload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!--<tab heading="STYLES">
            <div class="modal-header"><h4>Use the form below to set your channel's category page style.</h4></div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="bgColor" class="form-label">Background Color</label><input class="form-control" id="bgColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="theme.category_bg_color" />
                    <div class="bg-warning" data-ng-if="pick_bg">Please select a color for your category screen...</div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="titleColor">Category Title Color</label><input class="form-control" id="titleColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="theme.category_txt_one" />
                    <div class="bg-warning" data-ng-if="pick_txt_one">Please select a color for your category titles...</div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="desColor">Category Description Color</label><input class="form-control" id="desColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="theme.category_txt_two" />
                    <div class="bg-warning" data-ng-if="pick_txt_one">Please select a color for your category descriptions...</div>
                </div>
                <div class="form-group" >
                    <label for="layout" class="form-label">LAYOUT</label>
                    <select id="layout" class="form-control" data-ng-model="theme.category_list_style">
                        <option>arced-portrait</option>
                        <option>arced-landscape</option>
                        <option>arced-16x9 arced</option>
                        <option>arced-square</option>
                        <option>flat-category</option>
                        <option>flat-episodic</option>
                        <option>rounded-rect-16x9-generic</option>
                        <option>flat-episodic-16x9</option>
                    </select>
                    <div class="bg-warning" data-ng-if="pick_list">Please select a layout for your channel's category page.</div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-danger" ng-click="closeModal()">CLOSE</a>
                    <a href="" class="btn btn-primary" data-ng-click="saveTheme()">SAVE</a>
                    <a href="" class="btn btn-primary" target="_blank" data-ng-if="themeSaved">PREVIEW</a>
                </div>
        </div>
</tab>-->
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-default" data-ng-click="saveChanges()">
                <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>