﻿

<div class="modal-body ModalWithTabs">
    <div class="row">
        <tabset>
            <tab heading="CHANNEL SETTINGS">
                <div class="CustomPad">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtTitle">Title:
                            </label>
                            <span class="fa fa-question-circle"
                                  popover-placement="right"
                                  popover="The title of the channel you are adding."
                                  ></span>
                            <input id="txtTitle" class="form-control" type="text" data-ng-model="asset.title" />
                        </div>
                        <div class="form-group">
                            <label for="txtDescription">Channel Description:</label>
                            <span class="fa fa-question-circle"
                                  popover-placement="right"
                                  popover="A detailed description of the channel you are adding. This detail will appear in the Channel Store description of your channel."
                                    ></span>
                            <textarea id="txtDescription" class="form-control" rows="3" data-ng-model="asset.description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Channel Logo<br /><small>(Recommended Dimensions: 336 X 210)</small></label><br />
                        <div data-ng-repeat="option in image_options | filter: onlyFocus">
                            <a data-ng-click="option.selected=!option.selected;setUploaderFormData(option.option, asset.id)">
                                <img class="img-thumbnail" alt="{{option.title}}" src="{{option.path}}.ashx?width=200?" data-err-src="/images/NoImgAvailable.jpg" width="100%" height="210px" />
                            </a>
                            <br />
                            Logo will be displayed in the Roku Channel Store.
                            <div data-ng-if="option.selected">
                                <input type="file" nv-file-select uploader="uploader" ng-click="uploader.clearQueue()" /><br />
                                <div ng-repeat="item in uploader.queue">
                                    <strong>Name:</strong> <span ng-bind="item.file.name"></span><br />
                                    <strong>Size:</strong> <span ng-bind="item.file.size"></span><br />
                                    <a href="" ng-click="uploader.clearQueue();option.selected=!option.selected" class="btn btn-info btn-sm">Cancel</a>
                                    <a ng-click="item.upload(); logoSpin()" class="btn btn-info btn-sm">Upload</a>
                                </div>
                            </div>
                            <div data-ng-show="logospinning">
                                <img src="/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                    <div class="clearboth">&nbsp;</div>
                </div>
            </tab>

            <tab heading="SPLASH SCREEN">
                <div class="CustomPad">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Splash Screen Background Color:</label>
                            <span class="fa fa-question-circle"
                                  popover-placement="right"
                                  popover="The background color that displays behind your splash screen image while your ROKU Channel is loading."
                                    ></span>
                            <input class="form-control" id="titleColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="asset.splash_bg_color" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Splash Screen Image:<br /><small>(Recommended Dimensions: 1150 X 578)</small></label>
                        <span class="fa fa-question-circle"
                              popover-placement="right"
                              popover="The image that displays while your ROKU Channel is loading."
                                ></span>
                        <div class="form-group" data-ng-repeat="opt in image_options | filter: onlySplash ">
                            <a href="" data-ng-click="opt.selected=!opt.selected ; setUploaderFormData(opt.option, asset.id)">
                                <img class="img-thumbnail" alt="{{opt.title}}" src="{{opt.path}}.ashx?width=200?" data-err-src="/images/NoImgAvailable.jpg"  />

                            </a>
                            <div data-ng-if="opt.selected">
                                <input type="file" nv-file-select uploader="uploader" ng-click="uploader.clearQueue()" /><br />
                                <div ng-repeat="item in uploader.queue">
                                        <strong>Name:</strong> <span ng-bind="item.file.name"></span><br />
                                        <strong>Size:</strong> <span ng-bind="item.file.size"></span><br />
                                        <a href="" ng-click="uploader.clearQueue();option.selected=!option.selected" class="btn btn-info btn-sm">Cancel</a>
                                        <a ng-click="item.upload() ; logoSpin()" class="btn btn-info btn-sm">Upload</a>
                                </div>
                                <div data-ng-show="logospinning">
                                    <img src="/images/loading.gif" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearboth">&nbsp;</div>
                </div>
            </tab>

            <tab heading="TOOLS">
                <div class="CustomPad">
                    <div class="col-md-12">
                        <a data-ng-if="!compiling && !messageSent">
                            <div class="img-thumbnail FullWidth" align="center">
                                <div class="NewChannel">
                                    <h1>SUBMIT ROKU CHANNEL</h1>
                                    <p class="text-left lead">Once you have finished designing your ROKU channel, click the button below to send a submission request to our staff. <p>
                                    <p class="text-left lead">We will take care of compiling, packaging and submitting your channel to the ROKU store. You will recieve email updates to notify you of the status of your submission.</p>
                                    <p class="text-left">On average it takes 14-30 days for ROKU to approve a channel for public listing in the channel store, but we will provide your private channel link via email as soon as it is available.</p>
                                    <p class="text-left"><i>(Any changes to categories, playlists or media can be made without needing to resubmit the channel. Only changes to colors and channels images will require a resubmit.)</i></p>
                                    <button class="btn btn-default" data-ng-click="compileChannel(asset)">SUBMIT MY CHANNEL!</button>
                                    <!--<span class="fa fa-download" aria-hidden="true"></span> -->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearboth">&nbsp;</div>
                </div>
                <div data-ng-if ="compiling" class="CustomPad">
                    <div class="col-md-12">
                        <div class="img-thumbnail FullWidth" align="center">
                            <div class="NewChannel">
                                <p class="lead">COMPILING CHANNEL CODE</p><br />
                                <img src="/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                    </div>
                <div data-ng-if="messageSent && !compiling" class="CustomPad">
                    <div class="col-md-12">
                        <div class="img-thumbnail FullWidth" align="center">
                            <div class="NewChannel">
                                <h1>ROKU CHANNEL SUBMITTED</h1>
                                <p class="lead">{{compileMessage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-default" data-ng-click="saveChanges()">
                <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>

