﻿<div class="modal-header">
    <h1>Channel Details</h1>
</div>

<div class="modal-body">
    <div class="row-fluid">
        <p>
            Are you sure you want to cancel your account?
        </p>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-padding btn-info" data-ng-click="dismiss()">Close</button>
</div>