﻿
<div class="modal-header">
    <h1>Confirm</h1>
</div>
<div class="modal-body">
    <p>
        Permanently delete <strong>{{asset.title}}</strong>?
    </p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-info" data-ng-click="deleteItem(asset)">
                <span class="fa fa-trash-o" aria-hidden="true"></span>&nbsp; Delete
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>


