﻿<div class="modal-header">
    <h1>Forgot Password?</h1>
</div>
<div class="modal-body">
    <p>Fill out the form below to recieve an email with instructions to reset your password.</p>
   <div class="form-group MarginTop">
       <label for="email" class="control-label">Email Address:</label>
       <input type="email" id="email" data-ng-model="email" class="form-control" />
   </div>
    <div data-ng-if="!validForm">
        <span class="error">We couldn't find a user with that address. Verify the email entered and try again.</span>
    </div>
    <div data-ng-if="resetSent">
        An email to reset your password has been sent.    
    </div>
</div>
<div class="modal-footer">
      <a data-ng-if="!resetSent" data-ng-click="sendReset()" class="btn btn-default"><span class="fa fa-check" aria-hidden="true"></span>&nbsp; Reset Password</a>
</div>