﻿<div class="modal-header">
    <h1>Playlist Settings</h1>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="txtTitle" class="control-label">Title:</label>
                <input id="txtTitle" class="form-control" type="text" data-ng-model="selectedPlaylist.title" />
            </div>
            <div class="form-group">
                <label for="txtDescription" class="form-label">Description:</label>
                <textarea id="txtDescription" class="form-control" rows="3" data-ng-model="selectedPlaylist.description"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-default" data-ng-click="saveChanges()">
                <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>

