﻿
    <div class="modal-header">
        <h1>Playlist Order</h1>
    </div>
<div class="modal-body">
    <div data-ng-repeat="playlist in playlists | orderBy: ordr">

        <div>
            <a data-ng-click="orderUp($index, true)">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </a>
            <a data-ng-click="orderUp($index, false)">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </a>           
            {{playlist.title}}---{{playlist.ordr}}
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-default" data-ng-click="saveChanges()">
                <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>
