﻿<div class="modal-header">
    <h1>Channel Style</h1>
</div>

</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-6">
            <label>Overhang Logo (Optional):<br /><small>(Recommended Dimensions: 472 X 192 [sd: 236 X 96])</small></label>
            <div class="form-group">
                <a href="" data-ng-click="option_logo.selected = true">
                    <img class="img-responsive img-thumbnail" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.logo_path}}" height="96px" />
                </a>
            </div>

            <div class="form-group" data-ng-if="option_logo.selected">
                <label class="btn btn-info btn-sm" for="my-logo-selector">
                    Browse Files
                    <input id="my-logo-selector" style="display:none" type="file" nv-file-select uploader="logo_uploader" ng-click="logo_uploader.clearQueue()" /><br />
                </label>
                <div ng-repeat="item in logo_uploader.queue">
                    <div class="form-group">
                        <label for="fileName" class="form-label">Name:</label> <span id="fileName" ng-bind="item.file.name"></span><br />
                        <label for="fileSize" class="form-label">Size:</label> <span id="fileSize" ng-bind="item.file.size"></span><br />
                        <a ng-click="item.upload()" class="btn btn-default btn-xs">Upload</a>
                        <a href="" ng-click="logo_uploader.clearQueue();option_logo.selected=!option_logo.selected" class="btn btn-danger btn-xs">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Overhang Image:<br /><small>(Recommended Dimensions: 1440 X 220 [sd: 720 X 110])</small></label>
            <div class="form-group">
                <a href="" data-ng-click="option.selected = true">
                    <img class="img-responsive img-thumbnail" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.overhang_path}}" />
                </a>
            </div>
            <div class="form-group" data-ng-if="option.selected">
                <label class="btn btn-info btn-sm" for="my-file-selector">
                    Browse Files
                    <input id="my-file-selector" style="display:none" type="file" nv-file-select uploader="uploader" ng-click="uploader.clearQueue()" /><br />
                </label>
                <div ng-repeat="item in uploader.queue">
                    <div class="form-group">
                        <label for="fileName" class="form-label">Name:</label> <span id="fileName" ng-bind="item.file.name"></span><br />
                        <label for="fileSize" class="form-label">Size:</label> <span id="fileSize" ng-bind="item.file.size"></span><br />
                        <a ng-click="item.upload()" class="btn btn-default btn-xs">Upload</a>
                        <a href="" ng-click="uploader.clearQueue();option.selected=!option.selected" class="btn btn-danger btn-xs">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="bgColor">Background:</label>
                <input class="form-control" id="bgColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="selectedChannel.theme.category_bg_color" data-ng-change="watchColors()" />
                <div class="bg-warning" data-ng-if="pick_bg">Please select a color for your category screen...</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="titleColor">Media Titles:</label><br />
                <input class="form-control" id="titleColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="selectedChannel.theme.category_txt_one" />
                <div class="bg-warning" data-ng-if="pick_txt_one">Please select a color for your category titles...</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="desColor">Media Descriptions:</label><br />
                <input class="form-control" id="desColor" colorpicker colorpicker-parent="true" type="text" data-ng-model="selectedChannel.theme.category_txt_two" />
                <div class="bg-warning" data-ng-if="pick_txt_one">Please select a color for your category descriptions...</div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <label>Preview:</label>
            <div class="col-md-12 img-thumbnail" style="background-color:{{selectedBackground()}}">
                <img class="img-responsive img-thumbnail" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.overhang_path}}" width="100%" style="margin: 0 0 10px 0; height: 110px;" />

                <div class="img-thumbnail preview" align="center">
                    <div class="ChannelInfo">
                        <img class="img-responsive" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.channel_image}}" />
                    </div>
                    <div class="ChannelTitle">
                        <h4 style="color:{{selectedTitle()}}">Your Category</h4>
                    </div>
                    <div class="CatDesc">
                        <div class="ShortTxt">
                            <p style="color:{{selectedDescription()}}">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>

                <div class="img-thumbnail preview" align="center">
                    <div class="ChannelInfo">
                        <img class="img-responsive" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.channel_image}}" />
                    </div>
                    <div class="ChannelTitle">
                        <h4 style="color:{{selectedTitle()}}">Your Category</h4>
                    </div>
                    <div class="CatDesc">
                        <div class="ShortTxt">
                            <p style="color:{{selectedDescription()}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>                    
                </div>

                <div class="img-thumbnail preview" align="center">
                    <div class="ChannelInfo">
                        <img class="img-responsive" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.channel_image}}" />
                    </div>
                    <div class="ChannelTitle">
                        <h4 style="color:{{selectedTitle()}}">Your Category</h4>
                    </div>
                    <div class="CatDesc">
                        <div class="ShortTxt">
                            <p style="color:{{selectedDescription()}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>

                <div class="img-thumbnail preview" align="center">
                    <div class="ChannelInfo">
                        <img class="img-responsive" alt="{{selectedChannel.title}}" data-err-src="/images/NoImgAvailable.jpg" data-ng-src="{{selectedChannel.channel_image}}" />
                    </div>
                    <div class="ChannelTitle">
                        <h4 style="color:{{selectedTitle()}}">Your Category</h4>
                    </div>
                    <div class="CatDesc">
                        <div class="ShortTxt">
                            <p style="color:{{selectedDescription()}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>  
                </div>

                <div class=="clearboth">&nbsp;</div>

            </div>

        </div>

    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-default" data-ng-click="saveChanges()">
                <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>