﻿
<div>
    <tabset>
        <tab heading="DETAILS">
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtTitle" class="form-label">TITLE</label>
                    <input class="form-control" id="txtTitle" type="text" ng-model="asset.title" />
                    <label for="txtDescription" class="form-label">DESCRIPTION</label>
                    <textarea id="txtDescription" class="form-control" rows="3" ng-model="asset.description"></textarea>
                </div>

            </div>
        </tab>
        <tab heading="MEDIA">
            <div class="modal-body">
                <div class="form-group">
                    <label for="selectPlaylist" class="form-label">PLAYLIST</label>
                    <select id="selectPlaylist" class="form-control" ng-model="asset.playlist" ng-options="opt.title for opt in playlists" ng-change="watchPlaylist()" ></select>

                </div>
            </div>

        </tab>
        <!--<tab heading="ORDER">
            <div id="sortable" data-ng-repeat="category in order_categories">
                {{category.title}}
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-danger" confirmed-click="deleteCategory(asset)" ng-confirm-click="Are you sure?">Delete</a>
                <a href="" class="btn btn-warning" ng-click="cancel()">Cancel</a>
                <a href="" class="btn btn-primary" ng-click="saveTitle(asset)">Save</a><br />
            </div>
        </tab>-->
    </tabset>  
</div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <a class="btn btn-default" data-ng-click="updateSubCategory(asset)">
                    <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
                </a>
                <a class="btn btn-danger" data-ng-click="cancel()">
                    <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
                </a>
            </div>
        </div>
    </div>
<script>
    roku.controller('loginController', ['$scope', '$filter', '$http', '$timeout', '$sce', '$window', function ($scope, $filter, $http, $timeout, $sce, $window) {
        console.log('here');

        $scope.selection = {};
        $scope.selectedVideo = null;
        window.onunload = function (e) {
            opener.somefunction($scope.selectedVideo); //or
            //opener.document.getElementById('someid').innerHTML = 'update content of parent window';
        };
        // Sorting Filter Variables
        $scope.sortField = undefined;
        $scope.reverse = false;
        $scope.sort = function (fieldName) {
            if ($scope.sortField === fieldName) {
                $scope.reverse = !$scope.reverse;
            } else {
                $scope.sortField = fieldName;
                $scope.reverse = false;
            }
        };

        $scope.isSortUp = function (fieldName) {
            return $scope.sortField === fieldName && !$scope.reverse;
        };
        $scope.isSorthown = function (fieldName) {
            return $scope.sortField === fieldName && $scope.reverse;
        };
        $scope.displayCountOptions = [{ label: 'Items Per Page:25', value: 25 }, { label: '50', value: 50 }, { label: '100', value: 100 }];
        $scope.selectSortOptions = [{ label: 'Recently Added', value: 0 }, { label: 'Alphabetically', value: 2 }];
        $scope.watchSelectSort = function (val) {
            ////console.log('$scope.selectSort', val);
            switch (val) {
                case 0:
                    $scope.sort('savedOn');
                    $scope.sort('savedOn');

                    break;
                case 1:
                    $scope.sort('downloads');
                    break;
                case 2:
                    $scope.sort('title');
                    break;
            }
        };
        $scope.setInitialSort = function (val) {
            $scope.sort(val);
            $scope.sort(val);
        }

        var toType = function (obj) {
            return ({}).toString.call(obj).match(/\s([a-zA-Z]+)/)[1].toLowerCase()
        }

        var searchMatch = function (haystack, needle) {
            if (!needle) {
                return true;
            }
            if (toType(haystack) != 'string') {
                return String(haystack).indexOf(String(needle)) !== -1;
            } else {
                return haystack.toLowerCase().indexOf(needle.toLowerCase()) !== -1;
            }
        };

        $scope.search = function () {
            $scope.listView = true;

            $scope.filteredItems = $filter('filter')($scope.data, function (item) {
                for (var attr in item) {
                    if (searchMatch(item[attr], $scope.keyword))
                        return true;
                }
                return false;
            });

            $scope.currentPage = 1;
            $scope.groupToPages($scope.filteredItems, $scope.itemsPerPage);
        };

        $scope.listVideos = function () {
            var url = '/_admin.aspx?action=browse_video';
            $http({
                method: 'GET',
                url: url,
                headers: { 'Content-Type': 'text/plain' }
            }).
                success(function (data, status, headers, config) {
                    $scope.videos = data;
                }).
                error(function (data, status, headers, config) {
                    $scope.error = true;
                    $scope.tracker = false;
                });
        };
        $scope.listVideos();
        $scope.editMode = false;
        $scope.chooseVideo = function (video) {
            $scope.editMode = true;
            $scope.selectedVideo = video;
            $scope.selectedVideo.source = $sce.trustAsHtml('<video width="320" height="240" controls>  <source data-ng-src="' + video.video_path + '" type="video/mp4" autoplay="true">  Your browser does not support the video tag.</video>');
            console.log(video);
        };
        $scope.cancelChanges = function () {
            $scope.editMode = false;
            $scope.selectedVideo = {};

        };
        $scope.saveChanges = function (video) {
            $scope.selectedVideo = video;
            $scope.selectedVideo.source = '<video width="320" height="240" controls>  <source src="' + video.video_path + '" type="video/mp4" autoplay="true">  Your browser does not support the video tag.</video>';
            window.close();
            //$scope.editMode = false;
            //$scope.selectedVideo = {};
        }
    }]);
</script>