﻿
    <div class="modal-header">
        <h1>Upload From URL</h1>
    </div>
<div class="modal-body">

    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <input type="text" ng-model="uploadRemoteUrl" class="form-control" placeholder="Enter the URL here and then press Upload" />
            </div>
            <div class="col-md-4">
                <a class="btn btn-default btn-sm" ng-click="uploadFromUrl(uploadRemoteUrl)">UPLOAD</a>
            </div>
        </div>
    </div>
    <div data-ng-if="err">
        {{message}}
    </div>
    <div class="form-inline" data-ng-if="spin">
        <img src="/images/loading.gif" />
    </div>
</div>

<div class="modal-footer">
    <a data-ng-click="close()" class="btn btn-danger"><span class="fa fa-close"></span>&nbsp; Cancel</a>
</div>