﻿<div class="modal-header">
    <h1>VIDEO DETAILS</h1>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="txtTitle" class="control-label">Title:</label>
                <input id="txtTitle" class="form-control" type="text" data-ng-model="selectedAsset.title" />
                <label for="txtDescription" class="control-label">Description:</label>
                <textarea data-ng-model="selectedAsset.meta.description" rows="5" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <label>Video Image<br /><small>(Recommended Dimensions: 304 x 237)</small></label>
            <div class="form-group">
                <a href="" data-ng-click="option.selected = true">
                    <img class="img-responsive" alt="{{selectedAsset.title}}" data-err-src="/images/NoImgAvailable.jpg" src="{{selectedAsset.image_path}}" />
                </a>
            </div>

            <div class="form-group" data-ng-if="option.selected">
                <label class="btn btn-info btn-xs" for="my-file-selector">
                    BROWSE FILES
                    <input id="my-file-selector" style="display:none" type="file" nv-file-select uploader="uploader" ng-click="uploader.clearQueue()" /><br />
                </label>
                <div ng-repeat="item in uploader.queue">
                    <div class="form-group">
                        <label for="fileName" class="form-label">Name:</label><span id="fileName" ng-bind="item.file.name"></span><br />
                        <label for="fileSize" class="form-label">Size:</label> <span id="fileSize" ng-bind="item.file.size"></span><br />
                        <a href="" ng-click="uploader.clearQueue();option.selected=!option.selected" class="btn btn-info btn-sm">Cancel</a>
                        <a ng-click="item.upload()" class="btn btn-info btn-sm">Upload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a class="btn btn-default" data-ng-click="saveChanges()">
                <span class="fa fa-check" aria-hidden="true"></span>&nbsp; Save
            </a>
            <a class="btn btn-danger" data-ng-click="closeModal()">
                <span class="fa fa-close" aria-hidden="true"></span>&nbsp; Cancel
            </a>
        </div>
    </div>
</div>